<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>MotionAIの実験です。右下の「bot」というボタンを押すと、会話が始まります。</h1>
    おはようございます
    <link href="https://api.motion.ai/sdk/webchat.css" rel="stylesheet" type="text/css">
    <script src="https://api.motion.ai/sdk/webchat.js"></script>
    <script>
    motionAI_Init('23459?color=62a8ea&sendBtn=SEND&inputBox=Type+something...&token=988e5259f88693e5afb4324179ef0dab',true,400,470); /* botID with access token, display bot icon?, modal width, modal height */
    /* you may also invoke motionAI_Open(); to manually open the modal */
    </script>
    </body>
</html>
